.card{
    font-family: "Google Sans";
    border-left: 2px solid #15171c;
    padding-left: 15px;
}

.card-title::before{
    content: '';
    box-shadow: 0 0 14px 12px #4b76e5 inset;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: -.10%;
    transition: 300ms;
    height: 12px;
    width: 12px;
    transform: translate(-50%, -50%);
}

.card-title:hover::before{
    transition: 300ms;
    box-shadow: 0 0 2px 14px #4b76e5 inset;
    height: 14px;
    width: 14px;
}


.card-title{
    font-size: 25px!important;
}

.org-url, .org-url:hover, .org-url:active, .org-url:visited{
    color: #4b76e5!important;
    text-decoration: underline!important;
    text-decoration-style: dotted!important;
}