.experience{
    padding: 120px 0 180px;
    background: #fff;
    font-family: "Google Sans";
}

.experience-title{
    font-size: 48px;
}

.experience-content{
    font-size: 20px;
}

.experience-bttn-fa{
    font-size: 20px;
    padding: 0 8px;
    color: #fff;
}

.experience-bttn{
    font-size: 20px;
    color: #fff;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 32px;
    background: #4b76e5;
}