service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
      allow create, write, update, delete: if request.auth.token.email.matches("dewanshrawat15[@]gmail[.]com");
    }
  }
}
