	
::selection{
	background: #6F63C5;
	color: #fff;
}

body{
	transition: 300ms;
	font-family: 'Ubuntu';
}


a{
	text-decoration: none;
	color: inherit;
}

.nav--item:active,.nav--item:focus,.nav--item:hover{
	text-decoration: none;
	color: inherit;	
}

.nav--main {
    top: 1em;
    position: fixed;
    width: 100%;
    height: 4em;
	transition: 300ms;
    z-index: 99;
    color: white;
}

.nav--active{
	background: white;
	color: black;
	top: 0em;
	transition: 300ms;
}

.nav--container{
	height: 100%;
	line-height: 4em;
}

.logo{
	height: 100%;
    background-image: url("../assets/logo-grey.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: left center;
}

.nav--item{
	font-weight: 300;
	color: inherit;
	font-size: 1.4em;
	text-align: center;
}

.nav--item:hover,.nav--item--active{
	outline: none;
	cursor: pointer;
	font-weight: 700;
}

.slash{
	font-size: 1.4em;
	text-align: center;
	color: inherit;
	font-weight: 700;
}

.home{
	padding: 10px 0 220px 0;
	color: #fff;
	background: #6F63C5;
}

.title{
	font-family: 'Playfair Display';
	font-size: 50px;
	margin-top: 220px;
	text-align: center;
}

.home hr{
	width: 400px;
}

.byline{
	font-size: 20px;
	text-align: right;
}

.about{
	padding: 110px 0 110px 0;
}

.contact hr, .works hr, .about hr{
	border: 1px #6F63C5 solid;
	width: 400px;
}

.about-text{
	font-size: 24px;
}

.works{
	background: #efefef;
	padding: 110px 0 110px 0;
}

.work-box{
	transform: scale(0.9);
	transition: 300ms;
	padding: 10px;
	cursor: pointer;
}

.work-box h3{
	padding: 16px;
	transition: 300ms;
}

.work-box p{
	font-size: 16px;
}

.bttns, .bttns:active, .bttns:focus{
	text-align: center;
	padding: 10px;
	color: #222;
	transition: 300ms;
	font-size: 16px;
	text-decoration: none;
}

.bttns:hover{
	box-shadow: -15em 0 0 0 #6F63C5 inset;
	text-decoration: none;
	color: #fff;
	transition: 300ms;
}

.tags-active{
	box-shadow: -15em 0 0 0 #6F63C5 inset;
	color: #fff;
	transition: 300ms;
}

img{
	transition: 300ms;
}

.photographer-img-active{
	content: url('photographer-inf.png');
	transition: 300ms;
}

.psyvision-img-active{
	content: url('psyvision-inf.png');
	transition: 300ms;
}

.contact{
	padding: 110px 0 110px 0;
}

.contact-text{
	font-size: 24px;
}

.footer{
	padding: 40px 0 40px 0;
	background: #13171c;
	text-align: center;
	color: #fff;
	font-size: 18px;
}

.blank{
  animation: 1000ms beep infinite;
}

@keyframes beep{
	0%{
		opacity: 0;
	}
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
}

@media(max-width: 1024px){
	.title{
		font-size: 36px;
	}
}

@media(max-width: 940px){
	.byline{
		text-align: center;
	}
	.bttns{
		display: none;
	}
	.about-text{
		font-size: 16px;
	}
}

@media(max-width: 425px){
	
	.home hr{
		width: 275px;
	}
	
	.contact hr, .works hr, .about hr{
		width: 275px;
	}

}

@media only screen  and (max-width : 1240px) {
	.nav--hide{
		display: none;
	}	
}
