body::-webkit-scrollbar {
    width: 0.48em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body{
	overflow-x: hidden;
	width: 100%;
}
	
.nav-bar{
	position: fixed;
	z-index: 10;
	visibility: visible;
	transition: 300ms;
	width: 100vw;
	box-shadow: 0 -10vw 0 0 #fff inset, 0 0 0 0 #13171c inset;
	padding: 10px 20px 10px 20px;
}

.nav-bar-mob{
	transition: 300ms;
	position: fixed;
	z-index: 10;
	width: 100vw;
	box-shadow: 0 -10vw 0 0 #fff inset, 0 0 0 0 #13171c inset;
	visibility: hidden;
}

.nav-bar-active{
	box-shadow: 0 0 0 0 #fff inset, 0 -10vw 0 0 #13171c inset;
	color: #fff;
	transition: 300ms;
}

.logo{
	transition: 300ms;
	padding-left: 20px;
}

.nav-item{
	font-size: 20px;
	transition: 300ms;
	padding: 18px 0 18px 0;
	cursor: pointer;
	font-family: 'Raleway';
}

.scroll-hover{
	transition: 300ms;
	background: #383838;
	color: #fff;
}

.item-hover{
	transition: 300ms;
	background: #383838;
	color: #fff;
}

.home{
	padding: 280px 0 200px 0;
	transition: 300ms;
	color: #fff;
	font-family: 'Raleway';
	font-size: 42px;
	background: url('bg.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.home-line{
	width: 350px;
}

.tag-line{
	text-align: right;
	font-family: 'Raleway';
	font-size: 16px;
	color: #fff;
}

.arrow{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 1.2em;
	height: 1.2em;
	cursor: pointer;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.about{
	text-align: right;
	padding: 175px 0 175px 0;
	background-color: #f8f8f8;
}

.about-title{
	font-size: 48px;
	font-family: 'Raleway';
}

.about-text{
	font-family: 'Raleway';
	font-size: 20px;
}

.about-line{
	width: 350px;
	background-color: #13171c;
}


.blo{
	border: 2px solid #13171c;
	padding-top: 16px;
	padding-left: 27px;
	padding-right: 27px;
	transition: 300ms ease-in-out;
	cursor: pointer;
	box-shadow: 0 0 0 0 #13171c inset;
	padding-bottom: 16px;
}

.blo:hover{
	transition: 300ms ease-in-out;
	box-shadow: 0 5em 0 0 #13171c inset;
	color: #fff;
}

.blo:hover > a{
	color: #fff;
	transition: 300ms;
}

a, a:hover, a:visited, a:hover{
	color: #13171c;
    font-size: 20px;
	font-family: 'Raleway';
    text-decoration: none;
}

.works{
	padding: 175px 0 150px 0;
	background: #fff;
}

.works-title{
	font-size: 48px;
	font-family: 'Raleway';
}

.works-text{
	font-family: 'Raleway';
	font-size: 20px;
}

.works-line{
	width: 350px;
	background-color: #13171c;
}

.works-link, .works-link:active, .works-link:visited, .works-link:focus{
	text-decoration: none;
	color: #13171c;
}

.works-link{
	padding: 20px 30px 20px 30px;
	box-shadow: 0 0 0 0 #13171c inset;
	color: #13171c;
	transition: 500ms;
}

.works-link:hover{
	color: #fff;
	box-shadow: 12em 0 0 0 #13171c inset;
	transition: 500ms;
}

.screen-text{
	background: #f8f8f8;
	padding: 15px;
	padding-bottom: 30px;
}

.screen-text h3, .screen-text p{
	font-family: 'Raleway';
}

.contact{
	padding: 175px 0 175px 0;
	background: #f8f8f8;
}

.contact-title{
	font-size: 48px;
	font-family: 'Raleway';
}

.contact-text{
	font-family: 'Raleway';
	font-size: 20px;
}

.contact-line{
	width: 350px;
	background-color: #13171c;
}

.footer{
	background: #13171c;
	color: #fff;
	font-family: 'Raleway';
	font-size: 24px;
	padding: 75px 0 75px 0;
}

.heart{
	color: #ffc107;
	font-family: 'Lobster';
}

.imp{
	cursor: pointer;
}

ul{
	margin-left: 15px; 
}

.s-bttns a i{
	font-size: 48px;
}

.box{
	text-align: center;
}

@media(max-width: 991px){

	.home{
		padding: 150px 0 75px 0;
	}

	.home-line{
		width: 225px;
	}

	.about-line, .works-line, .contact-line{
		width: 175px;
	}

	.home-title{
		font-size: 32px;
	}

	.tag-line{
		text-align: center;
		font-family: 'Raleway';
		font-size: 16px;
		color: #fff;
	}

	.works, .contact, .about{
		text-align: center;
	}

	.works-title, .about-title, .contact-title{
		font-size: 32px;
	}

	.works-text, .about-text, .contact-text{
		font-size: 14px;
	}

	.blo a{
		font-size: 18px;
	}

	.s-bttns a i{
		font-size: 24px;
	}

	.footer-text{
		font-size: 20px;
	}
}


@media(max-width: 1200px){
	.nav-bar .nav-item{
		transition: 300ms;
		font-size: 16px;
	}

	.home-title{
		font-size: 32px;
	}
}

@media(max-width: 991px){
	.nav-bar{
		transition: 300ms;
		visibility: hidden;
	}

	.nav-bar-mob{
		transition: 300ms;
		visibility: visible;
	}

	.nav-bar-mob .nav-item{
		padding: 15px 0 15px 40px;
		font-size: 20px;
	}
}

@media(max-width: 580px){
	.nav-bar-mob{
		visibility: hidden;
	}

	.footer-text{
		font-size: 18px;
	}
}


/* Animations */

.slide-up{
	transition: 300ms;
	position: relative;
	top: -5%;
	opacity: 0;
}

.slide-down{
	transition: 300ms;
	position: relative;
	top: 0%;
	opacity: 1;
}