.contact{
    padding: 80px 0;
}

.contact-title{
    font-size: 54px;
    font-family: "Lobster Two", cursive;
}

.contact-text{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

@media(max-width: 991px){
    .contact-title{
        font-size: 42px;
    }
    
    .contact-text{
        font-size: 16px;
    }
}

@media(max-width: 767px){
    .contact-title{
        font-size: 36px;
    }
    
    .contact-text{
        font-size: 14px;
    }
}