.hero {
    padding: 80px 50px;
}

.hero-img {
    border-radius: 12px;
}

.resume-bttn {
    padding: 12px 25px;
    background-color: #15171c;
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 991px) {

    .hero {
        padding: 40px 0;
    }
}
