.hero {
    padding: 80px 0;
}

.resume-bttn {
    padding: 8px 24px;
    font-family: 'Poppins', sans-serif;
    background: #fa505b;
    font-weight: 300;
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
}