.about{
    padding: 120px 0;
    background: #4b76e5;
}

.about-title{
    font-size: 54px;
    color: #fff;
    font-family: "Lobster Two", cursive;
}

.about-text{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

.download-cv-bttn{
    padding: 12px 54px;
    border-radius: 32px;
    box-shadow: 0 0 0 0 #fff inset;
    border: 2px solid #fff;
    font-family: "Montserrat", sans-serif;
    transition: 300ms;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background: transparent;
}

.download-cv-bttn:hover{
    transition: 300ms;
    color: #15171c;
    box-shadow: 0 45px 0 0 #fff inset;
}

@media(max-width: 991px){

    .about{
        padding: 90px 0;
    }

    .about-title{
        font-size: 42px;
    }

    .about-text{
        font-size: 16px;
    }

}

@media(max-width: 767px){

    .about{
        padding: 75px 0;
    }

    .about-title{
        font-size: 36px;
    }

    .about-text{
        font-size: 14px;
    }

}