.projects{
    padding: 140px 0;
    font-family: "Google Sans";
    background-color: #f8f8f8;
}

.projects-container-title{
    font-size: 48px;
    color: #4b76e5;
}

.projects-container-subtitle{
    font-size: 32px;
}

.projects-container-text{
    font-size: 18px;
}

.project-card{
    font-family: "Google Sans";
}

.project-title{
    font-size: 18px;
}

.fap{
    transition: 500ms;
    padding-right: 4px;
    color: #13171c;
    font-size: 20px!important;
}

.project-card-wrapper{
    box-shadow: 2px 2px 4px 0 #222;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 8px;
    padding-left: 15px;
    background-color: #fff;
    margin-bottom: 18px;
}

.featured-project-card{
    margin-bottom: 32px;
    background: #ffffff;
    padding-right: 12px;
}

.featured-project-card-title{
    font-size: 27px;
}

.featured-project-card-wrapper{
    padding-top: 25px;
    padding-left: 20px;
    /* padding-bottom: 24px; */
}

.featured-project-card-tagline{
    font-size: 20px;
}

.featured-project-card-description{
    font-size: 15px;
}

.projectUrlBttn{
    padding: 8px 24px;
    cursor: pointer;
    color: #fff;
    border-radius: 42px;
    background-color: #4b76e5;
}