.contact-us {
    padding: 64px 0;
    background-color: #fff;
}

.contact-me-title-hr {
    border: none;
    outline: none;
    width: 200px;
    margin: 0;
    height: 2px;
    background-color: #fa505b;
}