@font-face {
    font-family: 'Google Sans';
    src: url(../../../assets/fonts/GoogleSans-Regular.ttf);
}
  

.hero{
    padding: 180px 0;
    font-family: "Google Sans";
}

.hero-laptop{
    display: inline;
}

.hero-mobile{
    display: none;
}

.hero-text-wrapper{
    padding: 48px 0;
}

.hero-title{
    font-size: 54px;
}

.name{
    color: #4b76e5;
}

.hero-tagline{
    font-size: 20px;
}

@media(max-width: 991px){

    .hero{
        padding: 140px 0;
    }

    .hero-laptop{
        display: none;
    }

    .hero-mobile{
        display: inline;
    }

    .hero-title{
        font-size: 48px;
    }

    .hero-tagline{
        padding: 0 84px;
        font-size: 18px;
    }

}

@media(max-width: 767px){

    .hero{
        padding: 90px 0;
    }

    .hero-title{
        font-size: 36px;
    }

    .hero-tagline{
        padding: 0 112px;
        font-size: 15px;
    }

}

@media(max-width: 584px){
    .hero-tagline{
        padding: 0 32px;
        font-size: 15px;
    }
}