.featured-project-title{
    font-family: "Lobster Two", cursive;
    font-size: 24px;
    margin-top: 4px;
    margin-bottom: 3px;
}

.featured-project-tagline{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 3px;
    margin-bottom: 4px;
}

.featured-project-text{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.featured-project-bttn{
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    color: #15171c;
    border-bottom: 2px solid #4b76e5;
    box-shadow: 0 0 0 0 inset #467aff;
    transition: 300ms;
}

.featured-project-bttn:hover{
    box-shadow: 0 -2px 0 0 inset #467aff;
    transition: 300ms;
}

.laptop{
    display: block;
}

.mobile{
    display: none;
}

@media(max-width: 991px){
    .laptop{
        display: none;
    }

    .mobile{
        display: block;
    }
}