.project-card-title{
    font-size: 24px;
    font-family: "Lobster Two", cursive;
}

.project-card{
    padding: 26px 16px 14px;
    margin-bottom: 20px;
    background: #f8f8f8;
}

.project-card-icon{
    font-size: 32px;
}

.project-card-text{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.project-card-link-icon{
    font-size: 24px;
    cursor: pointer;
    transition: 300ms;
    color: #000;
    margin-right: 6px;
}

.project-card-link-icon:hover{
    color: #4b76e5;
    transition: 300ms;
}

@media(max-width: 991px){
    .project-card{
        margin-bottom: 32px;
    }
}