
.socials-icon-dark{
    font-size: 24px;
    margin-left: 4px;
    cursor: pointer;
    transition: 300ms;
    margin-right: 4px;
    transform: scale(1);
    color: #15171c;
}

.socials-icon-dark:hover{
    transition: 300ms;
    color: #fa505b;
    transform: scale(1.1);
}

@media(max-width: 991px){

    .socials-icon-dark{
        margin-left: 6px;
        margin-right: 6px;
        font-size: 28px;
    }

}

@media(max-width: 767px){

    .socials-icon-dark{
        margin-left: 4px;
        margin-right: 4px;
        font-size: 24px;
    }

}

@media(max-width: 420px){

    .socials-icon-dark{
        margin-left: 4px;
        margin-right: 4px;
        font-size: 18px;
    }

}