.hero {
    padding: 120px 0;
    background-color: #f8f8f8;
}

.hero-title {
    color: #15171c;
    font-size: 48px;
    font-weight: 600;
}

.hero-subtitle {
    color: #15171c;
    font-size: 20px;
    font-weight: 200;
}

.hero-line {
    border: 0;
    width: 120px;
    height: 2px;
    background-color: #15171c;
}

.hero-content {
    padding-top: 54px;
}

@media (max-width: 768px) {
    .hero {
        padding: 75px 0;
        background-color: #f8f8f8;
    }
    
    .hero-title {
        color: #15171c;
        font-size: 32px;
        font-weight: 600;
    }
    
    .hero-subtitle {
        color: #15171c;
        font-size: 15px;
        font-weight: 200;
    }
}