.about{
    padding: 120px 0 130px;
    background: #4b76e5;
    color: #fff;
    font-family: "Google Sans";
}

.about-title{
    font-size: 42px;
}

.about-text{
    font-size: 18px;    
}

.cv-bttn{
    padding: 12px 42px;
    border-radius: 32px;
    cursor: pointer;
    background: #fff;
    color: #15171c;
    font-size: 18px;
}

a:hover, a:visited, a:focus{
    text-decoration: none!important;
}

@media(max-width: 991px){

    .about-mobile{
        display: inline;
    }
    
    .about-laptop{
        display: none;
    }

    .about-title{
        font-size: 42px;
    }

    .about-text{
        font-size: 16px;
    }

    .mob-about-bttn{
        padding: 15px 12px;
        cursor: pointer;
        color: #fff;
        font-size: 18px;
        width: 198px;
        border-radius: 32px;
        background: #4b76e5;
    }

}

@media(max-width: 767px){

    .about-title{
        font-size: 36px;
    }

    .about-content{
        font-size: 15px;
        padding: 0 54px;
    }

    .mob-about-bttn{
        font-size: 15px;
    }

}