.contact{
    padding: 120px 0 150px;
    background-color: #ffffff;
}

.contact-title{
    font-family: "Google Sans";
    font-size: 48px;
    color: #4b76e5;
}

.contact-laptop{
    display: inline;
}

.contact-mobile{
    display: none;
}

.contact-text{
    font-family: "Google Sans";
    font-size: 24px;
}

@media(max-width: 991px){

    .contact-mobile{
        display: inline;
    }
    
    .contact-laptop{
        display: none;
    }

    .contact-title{
        font-size: 42px;
    }

    .contact-text{
        font-size: 18px;
    }

}


@media(max-width: 767px){

    .contact-title{
        font-size: 36px;
    }

    .contact-text{
        font-size: 15px;
    }

}