.support{
    padding: 60px 0 75px;
    background: #4b76e5;
}

.support-title{
    font-family: "Lobster Two", cursive;
    font-size: 54px;
    color: #fff;
}

.support-text{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

.bmc-button img {
    box-shadow: none !important;
    border: none !important;
    margin: auto;
    vertical-align: middle !important;
}

.bmc-button {
    text-decoration: none !important;
    display: inline-flex !important;
    color: #4b76e5 !important;
    background-color: #fff !important;
    border-radius: 2px !important;
    border: 1px solid transparent !important;
    padding: 9px 26px;
    font-size: 16px !important;
    font-family: "Montserrat", sans-serif;
    -o-transition: 0.3s all linear !important;
    -webkit-transition: 0.3s all linear !important;
    -moz-transition: 0.3s all linear !important;
    -ms-transition: 0.3s all linear !important;
    transition: 0.3s all linear !important;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
    background-color: #eee !important;
    text-decoration: none !important;
}

@media(max-width: 991px){
    .support-title{
        font-size: 42px;
    }
    
    .support-text{
        font-size: 14px;
    }

    .bmc-button{
        font-size: 15px!important;
    }
}

@media(max-width: 767px){
    .support-title{
        font-size: 32px;
    }
    
    .support-text{
        font-size: 13px;
    }

    .bmc-button{
        font-size: 14px!important;
    }
}